<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Bienvenido@, <%= fullName %>!</p>
<p style="margin-bottom: 25px;">
  Ya casi estás listo continuar con el proceso de registro a Mayabmoot 2020. Simplemente haga clic en el botón a
  continuación para confirmar la dirección de correo electrónico de su cuenta:
</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a
    style="
      background-color: #28afb0;
      display: inline-block;
      font-size: 1.1em;
      color: #fff;
      padding: 10px 35px 10px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 7px;
    "
    href="<%= url.resolve(config.custom.baseUrl,'/api/v1/entrance/email/confirm')+'?token='+encodeURIComponent(token) %>"
    >Confirmar email</a
  >
</div>
<p style="margin-bottom: 25px;">
  Si tiene algún problema, intente pegar este enlace en su navegador:
  <a
    style="color: #28afb0; word-wrap: break-word;"
    href="<%= url.resolve(config.custom.baseUrl,'/api/v1/entrance/email/confirm')+'?token='+encodeURIComponent(token) %>"
    ><%= url.resolve(config.custom.baseUrl,'/api/v1/entrance/email/confirm')+'?token='+encodeURIComponent(token)
    %></a
  >
</p>
<p style="margin-bottom: 5px;">Sinceramente,</p>
<p style="margin-top: 0px;">Mayabmoot Team</p>
